<ion-header>
  <ion-toolbar color ="dark">
    <ion-title color="primary">Outros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <p>Xbox 360 Branco </p>
  <p> R$900,00 </p>
  <ion-img src="https://http2.mlstatic.com/xbox-360-branco-D_NQ_NP_684020-MLB27656672244_062018-F.jpg"></ion-img>
  <p>Óculos de realidade virtual celular jogos vr 3d bright</p>
  <p>R$47,90</p>
  <ion-img src="https://a-static.mlcdn.com.br/1500x1500/oculos-de-realidade-virtual-celular-jogos-vr-3d-bright/suproshop/4806926621/86e2ecf62b6ff8ba13a0f22feb1215f5.jpg"></ion-img>
  <ion-button expand="full" shape="around" href="pesquisa">Voltar</ion-button>
</ion-content>
