<ion-header>
  <ion-toolbar color= "dark">
  <ion-title color="primary">pendrive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <p> Pen Drive 8GB - Sandisk - Cruzer Blade</p>
  <p>R$24,72</p>
  <ion-img src= "https://images-americanas.b2w.io/produtos/01/00/item/109067/2/109067292SZ.jpg"></ion-img>
  <p>Pen Drive Kingston 8GB</p>
  <p>R$ 55,00</p>
  <ion-img src="https://images-submarino.b2w.io/produtos/01/00/item/7240/7/7240751gg.jpg"></ion-img>
  <ion-button expand="full" shape="around" href="pesquisa">Voltar</ion-button>
</ion-content>
