<ion-header>
  <ion-toolbar color="dark">
      <ion-title color="primary">radio e caixa de som</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="tertiary">
  <p>Radio Portatil Com Usb Am Fm</p>
  <p> R$58,99 </p>
  <ion-img src="https://http2.mlstatic.com/radio-portatil-com-usb-am-fm-recarregavel-ao-melhor-preco-D_NQ_NP_775721-MLB31690462890_082019-F.jpg"></ion-img>
  <p>Caixa De Som Bluetooth Impulsionar Tv Home Theater Soundbar </p>
  <p> R$250,00 </p>
  <ion-img src="https://http2.mlstatic.com/caixa-de-som-bluetooth-impulsionar-tv-home-theater-soundbar-D_NQ_NP_855523-MLB31528617949_072019-F.jpg"></ion-img>
  <ion-button expand="full" shape="around" href="pesquisa">Voltar</ion-button>
</ion-content>
