<ion-header>
  <ion-toolbar color = "dark">
      <ion-title color="primary">notebook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "tertiary">
  <p> Notebook Acer Aspire 3 A315-53-57G3 Intel Core i5 - 8GB 1TB 15,6” Linux</p>
  <p> preços de até R$2.045,07</p>
  <ion-img src="https://a-static.mlcdn.com.br/1500x1500/notebook-acer-aspire-3-a315-53-57g3-intel-core-i5-8gb-1tb-156-linux/magazineluiza/224106900/2adde634e3fe8dc23e509e3ca6758514.jpg"></ion-img>
  <p>Notebook Samsung E30 Intel Core i3 7020U 15,6" 4GB HD 1 TB Windows 10 7ª Geração</p>
  <p>preços de até R$2.457,99</p>
  <ion-img src="https://i.zst.com.br/images/notebook-samsung-essentials-intel-core-i3-7020u-7-geracao-4gb-de-ram-hd-1-tb-15-6-full-hd-windows-10-e30-photo518274325-12-6-f.jpg"></ion-img>
  <ion-button expand="full" shape="around" href="pesquisa">Voltar</ion-button>
</ion-content>
