<ion-header>
  <ion-toolbar color= "dark">
      <ion-title color="primary">televisao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "primary">
  <p> Smart TV 4K LED 65” Samsung UN65RU7100 Wi-Fi</p>
  <p>preços de até R$3.859,90 </p>
  <ion-img src="https://a-static.mlcdn.com.br/618x463/smart-tv-4k-led-65-samsung-un65ru7100-wi-fi-hdr-conversor-digital-3-hdmi-2-usb/magazineluiza/193425600/9c27dd41aba5cbbe0d98a814ad07fec6.jpg"></ion-img>
  <p> Smart TV QLED 55 Samsung 4K/Ultra HD Q7FN </p>
  <p> preços de até R$ 6.649,91</p>
  <ion-img src = "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTFI0r42zV7Rte7-LagLh5RObdcvQ0H1PTiuyuXLJLY-pa2dgM&usqp=CAY.jpg"></ion-img>
  <ion-button expand="full" shape="around" href="pesquisa">Voltar</ion-button>
</ion-content>
